src/main/mule/moodle-rest-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:moodle="http://www.mulesoft.org/schema/mule/moodle" xmlns:moodle-access-token="http://www.mulesoft.org/schema/mule/moodle-access-token" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/moodle http://www.mulesoft.org/schema/mule/moodle/current/mule-moodle.xsd http://www.mulesoft.org/schema/mule/moodle-access-token http://www.mulesoft.org/schema/mule/moodle-access-token/current/mule-moodle-access-token.xsd">
    <flow name="moodle-rest-api-main">
        <http:listener config-ref="moodle-rest-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="moodle-rest-api-config" />
    </flow>
    <flow name="moodle-rest-api-console">
        <http:listener config-ref="moodle-rest-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="moodle-rest-api-config" />
    </flow>
    <flow name="post:\core_course_create_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="21d1cb26-291a-4626-a42a-e35c42c74a19" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_create_categories">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="060ff962-1dc9-421e-87d0-b61a1ef20952" name="accesstoken_Flow" />
        <moodle:post-core-course-create-categories doc:name="Course Category - Create Categories" doc:id="5003f9ce-04a5-45a9-a09c-88cbc04136a2" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-create-categories-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "categories[0][name]": payload.'categories[0][name]',
    "categories[0][parent]": payload.'categories[0][parent]',
    "categories[0][idnumber]": payload.'categories[0][idnumber]',
    "categories[0][description]": payload.'categories[0][description]',
    "categories[0][descriptionformat]": payload.'categories[0][descriptionformat]',
    "categories[0][theme]": payload.'categories[0][theme]'
}]]]></moodle:post-core-course-create-categories-body>
        </moodle:post-core-course-create-categories>
    </flow>
    <flow name="post:\core_course_create_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="40cea967-8999-4975-87a5-e26573be697a" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_create_courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="4113729e-a82b-42be-aaa0-4c7088b6ec9c" name="accesstoken_Flow" />
        <moodle:post-core-course-create-courses doc:name="Course - Create Courses" doc:id="0d369d22-6d78-4064-b6b3-dd144108ee7c" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-create-courses-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    ('courses[0][fullname]': payload.'courses[0][fullname]') if (!isEmpty(payload.'courses[0][fullname]')),
    ('courses[0][shortname]': payload.'courses[0][shortname]') if (!isEmpty(payload.'courses[0][shortname]')),
    ('courses[0][categoryid]': payload.'courses[0][categoryid]')if (!isEmpty(payload.'courses[0][categoryid]')),
    ('courses[0][idnumber]': payload.'courses[0][idnumber]')if (!isEmpty(payload.'courses[0][idnumber]')),
    'courses[0][summary]': payload.'courses[0][summary]',
    'courses[0][summaryformat]': payload.'courses[0][summaryformat]',
    'courses[0][format]': payload.'courses[0][format]',
    'courses[0][showgrades]': payload.'courses[0][showgrades]',
    'courses[0][newsitems]': payload.'courses[0][newsitems]',
    'courses[0][startdate]': payload.'courses[0][startdate]',
    'courses[0][enddate]': payload.'courses[0][enddate]',
    'courses[0][numsections]': payload.'courses[0][numsections]',
    'courses[0][maxbytes]': payload.'courses[0][maxbytes]',
    'courses[0][showreports]': payload.'courses[0][showreports]',
    'courses[0][visible]': payload.'courses[0][visible]',
    'courses[0][hiddensections]': payload.'courses[0][hiddensections]',
    'courses[0][groupmode]': payload.'courses[0][groupmode]',
    'courses[0][groupmodeforce]': payload.'courses[0][groupmodeforce]',
    'courses[0][defaultgroupingid]': payload.'courses[0][defaultgroupingid]',
    'courses[0][enablecompletion]': payload.'courses[0][enablecompletion]',
    'courses[0][completionnotify]': payload.'courses[0][completionnotify]',
    'courses[0][lang]': payload.'courses[0][lang]',
    'courses[0][forcetheme]': payload.'courses[0][forcetheme]',
    'courses[0][courseformatoptions][0][name]': payload.'courses[0][courseformatoptions][0][name]',
    'courses[0][courseformatoptions][0][value]': payload.'courses[0][courseformatoptions][0][value]',
    'courses[0][customfields][0][shortname]': payload.'courses[0][customfields][0][shortname]',
    'courses[0][customfields][0][value]': payload.'courses[0][customfields][0][value]'
}]]]></moodle:post-core-course-create-courses-body>
        </moodle:post-core-course-create-courses>
    </flow>
    <flow name="post:\core_course_delete_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1654668f-2f74-4bb1-9174-849e6c7532ba" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_delete_categories">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="836403e3-a561-4eb1-9699-ba1dd7fb7faa" name="accesstoken_Flow" />
        <moodle:post-core-course-delete-categories doc:name="Course Category - Delete Categories" doc:id="5a596d25-c2b8-42ec-9a94-4b5d6e0cc633" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-delete-categories-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                      
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "categories[0][id]": payload.'categories[0][id]',                  
    "categories[0][newparent]": payload.'categories[0][newparent]',  
    "categories[0][recursive]": payload.'categories[0][recursive]'    
}]]]></moodle:post-core-course-delete-categories-body>
        </moodle:post-core-course-delete-categories>
    </flow>
    <flow name="post:\core_course_delete_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="00e2875a-7f5f-42ab-b5e6-76f98ec92d92" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_delete_courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="55c7136d-0cec-43e5-ab06-91b482d34605" name="accesstoken_Flow" />
        <moodle:post-core-course-delete-courses doc:name="Course - Delete Courses" doc:id="6b9d3fd1-9776-43a5-8ced-94de0c67bae0" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-delete-courses-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "courseids[0]": payload.'courseids[0]'        
}]]]></moodle:post-core-course-delete-courses-body>
        </moodle:post-core-course-delete-courses>
    </flow>
    <flow name="post:\core_course_get_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="02ef8500-c1de-4e5f-8156-52b13188ba9f" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_get_categories">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="2e69b3bb-795a-4ac1-8954-58db7cdda618" name="accesstoken_Flow" />
        <moodle:post-core-course-get-categories doc:name="Course Category - Get Categories" doc:id="fe0f7684-a033-45b5-9082-f1b0f6791a35" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-get-categories-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                         
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "criteria[0][key]": payload.'criteria[0][key]',           
    "criteria[0][value]": payload.'criteria[0][value]',      
    addsubcategories: payload.addsubcategories         
}]]]></moodle:post-core-course-get-categories-body>
        </moodle:post-core-course-get-categories>
    </flow>
    <flow name="post:\core_course_get_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bed52dc5-00b3-46d1-8830-110101152233" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_get_courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="aae0a814-748b-4b32-9fdc-76a5a976e070" name="accesstoken_Flow" />
        <moodle:post-core-course-get-courses doc:name="Course - Get Courses" doc:id="c304cbf9-0e25-4792-ab1f-d01c0d40f25d" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-get-courses-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat))
}]]]></moodle:post-core-course-get-courses-body>
        </moodle:post-core-course-get-courses>
    </flow>
    <flow name="post:\core_course_get_courses_by_field:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7464f4f3-af3b-402b-9595-0cd1f175243c" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_get_courses_by_field">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="1161db3a-3de8-4f13-a3f2-4495a155a0db" name="accesstoken_Flow" />
        <moodle:post-core-course-get-courses-by-field doc:name="Course - Get Courses by Field" doc:id="9dc9742c-c1ac-458b-ab4a-233e2e8fc2d8" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-get-courses-by-field-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,              
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    (field: payload.field) if (!isEmpty(payload.field)),
    ("values[0]": payload.'values[0]') if (!isEmpty(payload.'values[0]'))
}]]]></moodle:post-core-course-get-courses-by-field-body>
        </moodle:post-core-course-get-courses-by-field>
    </flow>
    <flow name="post:\core_course_update_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f533f36e-8576-44fa-a8c3-e278caadd939" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_update_categories">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="a225b05b-14bc-42a0-a5ba-9946df558184" name="accesstoken_Flow" />
        <moodle:post-core-course-update-categories doc:name="Course Category - Update Categories" doc:id="1e9a78a7-ac2d-443e-8794-d90f8236abd8" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-update-categories-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                    
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "categories[0][id]": payload.'categories[0][id]',                  
    "categories[0][name]": payload.'categories[0][name]',            
    "categories[0][idnumber]": payload.'categories[0][idnumber]',      
    "categories[0][parent]": payload.'categories[0][parent]',          
    "categories[0][description]": payload.'categories[0][description]',
    "categories[0][descriptionformat]": payload.'categories[0][descriptionformat]',
    "categories[0][theme]": payload.'categories[0][theme]'
}]]]></moodle:post-core-course-update-categories-body>
        </moodle:post-core-course-update-categories>
    </flow>
    <flow name="post:\core_course_update_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="fccc7d0f-b7e6-4063-bca0-bbe6720859eb" config-ref="moodle-rest-api-httpListenerConfig" path="/core_course_update_courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="40101bb0-4fee-49e0-bd42-e2c7f09ab14a" name="accesstoken_Flow" />
        <moodle:post-core-course-update-courses doc:name="Course - Update Courses" doc:id="24d84e7b-e1ed-4b3f-929c-39bcdd046b29" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-course-update-courses-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                    
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "courses[0][id]": payload.'courses[0][id]',
    "courses[0][fullname]": payload.'courses[0][fullname]',
    "courses[0][shortname]": payload.'courses[0][shortname]',
    "courses[0][categoryid]": payload.'courses[0][categoryid]',
    "courses[0][idnumber]": payload.'courses[0][idnumber]',
    "courses[0][summary]": payload.'courses[0][summary]',
    "courses[0][summaryformat]": payload.'courses[0][summaryformat]',
    "courses[0][format]": payload.'courses[0][format]',
    "courses[0][showgrades]": payload.'courses[0][showgrades]',
    "courses[0][newsitems]": payload.'courses[0][newsitems]',
    "courses[0][startdate]": payload.'courses[0][startdate]',
    "courses[0][enddate]": payload.'courses[0][enddate]',
    "courses[0][numsections]": payload.'courses[0][numsections]',
    "courses[0][maxbytes]": payload.'courses[0][maxbytes]',
    "courses[0][showreports]": payload.'courses[0][showreports]',
    "courses[0][visible]": payload.'courses[0][visible]',
    "courses[0][hiddensections]": payload.'courses[0][hiddensections]',
    "courses[0][groupmode]": payload.'courses[0][groupmode]',
    "courses[0][groupmodeforce]": payload.'courses[0][groupmodeforce]',
    "courses[0][defaultgroupingid]": payload.'courses[0][defaultgroupingid]',
    "courses[0][enablecompletion]": payload.'courses[0][enablecompletion]',
    "courses[0][completionnotify]": payload.'courses[0][completionnotify]',
    "courses[0][lang]": payload.'courses[0][lang]',
    "courses[0][forcetheme]": payload.'courses[0][forcetheme]',
    "courses[0][courseformatoptions][0][name]": payload.'courses[0][courseformatoptions][0][name]',
    "courses[0][courseformatoptions][0][value]": payload.'courses[0][courseformatoptions][0][value]',
    "courses[0][customfields][0][shortname]": payload.'courses[0][customfields][0][shortname]',
    "courses[0][customfields][0][value]": payload.'courses[0][customfields][0][value]'
}]]]></moodle:post-core-course-update-courses-body>
        </moodle:post-core-course-update-courses>
    </flow>
    <flow name="post:\core_enrol_get_enrolled_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a5a90b4d-1f8a-40c6-967f-4468ab529845" config-ref="moodle-rest-api-httpListenerConfig" path="/core_enrol_get_enrolled_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="bab40b7d-46a7-4be7-a753-1bfcd4169b59" name="accesstoken_Flow" />
        <moodle:post-core-enrol-get-enrolled-users doc:name="Enrollment - Get Enrolled Users" doc:id="f7713e43-df66-4486-901e-f0afe94fa851" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-enrol-get-enrolled-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,           
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    courseid: payload.courseid               
}]]]></moodle:post-core-enrol-get-enrolled-users-body>
        </moodle:post-core-enrol-get-enrolled-users>
    </flow>
    <flow name="post:\core_enrol_get_users_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4316ff5d-9d62-4ea6-a1c7-95f96b388f21" config-ref="moodle-rest-api-httpListenerConfig" path="/core_enrol_get_users_courses">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="572b4bbc-642b-49ec-9ca4-5bf4460e2e2d" name="accesstoken_Flow" />
        <moodle:post-core-enrol-get-users-courses doc:name="Enrollment - Get User''s Courses" doc:id="c8b207bd-9e3c-43c1-87d5-82ec9bdf68f5" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-enrol-get-users-courses-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,               
   (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    userid: payload.userid,                  
    returnusercount: payload.returnusercount
}]]]></moodle:post-core-enrol-get-users-courses-body>
        </moodle:post-core-enrol-get-users-courses>
    </flow>
    <flow name="post:\core_enrol_unenrol_user_enrolment:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="22e339f4-3d4e-4b45-86ee-db7a18eac235" config-ref="moodle-rest-api-httpListenerConfig" path="/core_enrol_unenrol_user_enrolment">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="a03de330-8bae-4c75-9456-41bc42f3f191" name="accesstoken_Flow" />
        <moodle:post-enrol-manual-unenrol-users doc:name="Enrollment - Unenroll Users" doc:id="0bce3b71-0216-43e0-8d88-35bdb226bf7b" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-enrol-manual-unenrol-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,     
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    ueid: payload.ueid               
}]]]></moodle:post-enrol-manual-unenrol-users-body>
        </moodle:post-enrol-manual-unenrol-users>
    </flow>
    <flow name="post:\core_role_assign_roles:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="497317ca-e461-45f4-a1f5-75992af2ae30" config-ref="moodle-rest-api-httpListenerConfig" path="/core_role_assign_roles">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="50f06fe3-96bc-4f14-abd2-88b3714418da" name="accesstoken_Flow" />
        <moodle:post-core-role-assign-roles doc:name="User Roles - Assign Roles" doc:id="d6be20cb-b061-4097-a1da-51786fc0dbb1" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-role-assign-roles-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "assignments[0][roleid]": payload.'assignments[0][roleid]',
    "assignments[0][userid]": payload.'assignments[0][userid]',
    "assignments[0][contextid]": payload.'assignments[0][contextid]',
    "assignments[0][contextlevel]": payload.'assignments[0][contextlevel]',
    "assignments[0][instanceid]": payload.'assignments[0][instanceid]'
}]]]></moodle:post-core-role-assign-roles-body>
        </moodle:post-core-role-assign-roles>
    </flow>
    <flow name="post:\core_role_unassign_roles:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="457d11cf-7c9d-4e0c-ae8f-960e3054d8c4" config-ref="moodle-rest-api-httpListenerConfig" path="/core_role_unassign_roles">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="ae8cd957-fe91-4f49-b864-9efeb3b59257" name="accesstoken_Flow" />
        <moodle:post-core-role-unassign-roles doc:name="User Roles - Unassign Roles" doc:id="862ec53d-2f4e-489d-8897-5329b61801d0" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-role-unassign-roles-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "unassignments[0][roleid]": payload.'unassignments[0][roleid]',
    "unassignments[0][userid]": payload.'unassignments[0][userid]',
    "unassignments[0][contextid]": payload.'unassignments[0][contextid]',
    "unassignments[0][contextlevel]": payload.'unassignments[0][contextlevel]',
    "unassignments[0][instanceid]": payload.'unassignments[0][instanceid]'
}]]]></moodle:post-core-role-unassign-roles-body>
        </moodle:post-core-role-unassign-roles>
    </flow>
    <flow name="post:\core_user_create_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="89a168ec-a158-47bd-90ae-573e87b3503c" config-ref="moodle-rest-api-httpListenerConfig" path="/core_user_create_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="3a0e53fc-43b4-481a-a007-a694a59bc6c9" name="accesstoken_Flow" />
        <moodle:post-core-user-create-users doc:name="User - Create users" doc:id="8b54e8c3-8b2f-4654-a9ef-d32b62184ef5" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-user-create-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "users[0][createpassword]": payload."users[0][createpassword]",
    "users[0][username]": payload."users[0][username]",
    "users[0][auth]": payload."users[0][auth]",
    "users[0][password]": payload."users[0][password]",
    "users[0][firstname]": payload."users[0][firstname]",
    "users[0][lastname]": payload."users[0][lastname]",
    "users[0][email]": payload."users[0][email]",
    "users[0][maildisplay]": payload."users[0][maildisplay]",
    "users[0][city]": payload."users[0][city]",
    "users[0][country]": payload."users[0][country]",
    "users[0][timezone]": payload."users[0][timezone]",
    "users[0][description]": payload."users[0][description]",
    "users[0][firstnamephonetic]": payload."users[0][firstnamephonetic]",
    "users[0][lastnamephonetic]": payload."users[0][lastnamephonetic]",
    "users[0][middlename]": payload."users[0][middlename]",
    "users[0][alternatename]": payload."users[0][alternatename]",
    "users[0][interests]": payload."users[0][interests]",
    "users[0][idnumber]": payload."users[0][idnumber]",
    "users[0][institution]": payload."users[0][institution]",
    "users[0][department]": payload."users[0][department]",
    "users[0][phone1]": payload."users[0][phone1]",
    "users[0][phone2]": payload."users[0][phone2]",
    "users[0][address]": payload."users[0][address]",
    "users[0][lang]": payload."users[0][lang]",
    "users[0][calendartype]": payload."users[0][calendartype]",
    "users[0][theme]": payload."users[0][theme]",
    "users[0][mailformat]": payload."users[0][mailformat]",
    "users[0][customfields][0][type]": payload."users[0][customfields][0][type]",
    "users[0][customfields][0][value]": payload."users[0][customfields][0][value]",
    "users[0][preferences][0][type]": payload."users[0][preferences][0][type]",
    "users[0][preferences][0][value]": payload."users[0][preferences][0][value]"
}]]]></moodle:post-core-user-create-users-body>
        </moodle:post-core-user-create-users>
    </flow>
    <flow name="post:\core_user_delete_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a334e47d-2495-4873-a534-39044f0d90a0" config-ref="moodle-rest-api-httpListenerConfig" path="/core_user_delete_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="bd80fa5e-c45f-4be3-b0d3-5247de58cfba" name="accesstoken_Flow" />
        <moodle:post-core-user-delete-users doc:name="User - Delete Users" doc:id="90185a28-ec18-447a-945d-8b89af47f024" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-user-delete-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
   (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "userids[0]": payload.'userids[0]'
}]]]></moodle:post-core-user-delete-users-body>
        </moodle:post-core-user-delete-users>
    </flow>
    <flow name="post:\core_user_get_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f65ce42c-c12e-4705-8a16-3a0289415463" config-ref="moodle-rest-api-httpListenerConfig" path="/core_user_get_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="6d76ab4f-5658-45f6-af7d-c0416565e88b" name="accesstoken_Flow" />
        <moodle:post-core-user-get-users doc:name="User - Get Users" doc:id="c525e528-4121-43c5-bb6e-a229c918a319" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-user-get-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    field: payload.field,
    "values[0]": payload.'values[0]'
}]]]></moodle:post-core-user-get-users-body>
        </moodle:post-core-user-get-users>
    </flow>
    <flow name="post:\core_user_get_users_by_field:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d62b9012-3450-40fa-a41f-c3960f0bfccf" config-ref="moodle-rest-api-httpListenerConfig" path="/core_user_get_users_by_field">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="eb189c1e-ad61-4099-8be2-a605b8e5d6ca" name="accesstoken_Flow" />
        <moodle:post-core-user-get-users-by-field doc:name="User - Get Users by Id" doc:id="d67ce6e6-4f55-4440-a8cd-b91749c55580" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-user-get-users-by-field-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    field: payload.field,
    "values[0]": payload.'values[0]'
}]]]></moodle:post-core-user-get-users-by-field-body>
        </moodle:post-core-user-get-users-by-field>
    </flow>
    <flow name="post:\core_user_update_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a65733b5-fde4-4e87-9e44-01982737adfb" config-ref="moodle-rest-api-httpListenerConfig" path="/core_user_update_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="38300cc6-2598-49dd-8cc1-6202d2803ca2" name="accesstoken_Flow" />
        <moodle:post-core-user-update-users doc:name="User - Update Users" doc:id="0c0851da-073f-45f6-8036-1c5d10448280" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-user-update-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "users[0][id]": payload.'users[0][id]',
    "users[0][username]": payload.'users[0][username]',
    "users[0][auth]": payload.'users[0][auth]',
    "users[0][suspended]": payload.'users[0][suspended]',
    "users[0][password]": payload.'users[0][password]',
    "users[0][firstname]": payload.'users[0][firstname]',
    "users[0][lastname]": payload.'users[0][lastname]',
    "users[0][email]": payload.'users[0][email]',
    "users[0][maildisplay]": payload.'users[0][maildisplay]',
    "users[0][city]": payload.'users[0][city]',
    "users[0][country]": payload.'users[0][country]',
    "users[0][timezone]": payload.'users[0][timezone]',
    "users[0][description]": payload.'users[0][description]',
    "users[0][userpicture]": payload.'users[0][userpicture]',
    "users[0][firstnamephonetic]": payload.'users[0][firstnamephonetic]',
    "users[0][lastnamephonetic]": payload.'users[0][lastnamephonetic]',
    "users[0][middlename]": payload.'users[0][middlename]',
    "users[0][alternatename]": payload.'users[0][alternatename]',
    "users[0][interests]": payload.'users[0][interests]',
    "users[0][idnumber]": payload.'users[0][idnumber]',
    "users[0][institution]": payload.'users[0][institution]',
    "users[0][department]": payload.'users[0][department]',
    "users[0][phone1]": payload.'users[0][phone1]',
    "users[0][phone2]": payload.'users[0][phone2]',
    "users[0][address]": payload.'users[0][address]',
    "users[0][lang]": payload.'users[0][lang]',
    "users[0][calendartype]": payload.'users[0][calendartype]',
    "users[0][theme]": payload.'users[0][theme]',
    "users[0][mailformat]": payload.'users[0][mailformat]',
 
    // Custom fields
    "users[0][customfields][0][type]": payload.'users[0][customfields][0][type]',
    "users[0][customfields][0][value]": payload.'users[0][customfields][0][value]',
 
    // Preferences
    "users[0][preferences][0][type]": payload.'users[0][preferences][0][type]',
    "users[0][preferences][0][value]": payload.'users[0][preferences][0][value]'
}]]]></moodle:post-core-user-update-users-body>
        </moodle:post-core-user-update-users>
    </flow>
    <flow name="post:\enrol_manual_enrol_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ff1db9d5-807f-4922-b0d5-41f3479e621e" config-ref="moodle-rest-api-httpListenerConfig" path="/enrol_manual_enrol_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="72a8dd49-edfb-4b9d-a04a-02ae969857bf" name="accesstoken_Flow" />
        <moodle:post-enrol-manual-enrol-users doc:name="Enrollment - Enroll Users" doc:id="c263d42d-8472-4c74-a421-e5df726ef63b" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-enrol-manual-enrol-users-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "enrolments[0][roleid]": payload.'enrolments[0][roleid]',
    "enrolments[0][userid]": payload.'enrolments[0][userid]',
    "enrolments[0][courseid]": payload.'enrolments[0][courseid]'
}]]]></moodle:post-enrol-manual-enrol-users-body>
        </moodle:post-enrol-manual-enrol-users>
    </flow>
    <flow name="post:\enrol_manual_unenrol_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b8088844-3af5-40ad-b2e7-4c1baacf81dd" config-ref="moodle-rest-api-httpListenerConfig" path="/enrol_manual_unenrol_users">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="b9b728aa-8555-4f97-8352-21566f4abad7" name="accesstoken_Flow" />
        <moodle:post-core-enrol-unenrol-user-enrolment doc:name="Enrollment - Unenroll Users" doc:id="329f859c-0371-48b1-83df-c2668a215cef" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-core-enrol-unenrol-user-enrolment-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
 
    "enrolments[0][userid]": payload.'enrolments[0][userid]',
    "enrolments[0][courseid]": payload.'enrolments[0][courseid]'
}]]]></moodle:post-core-enrol-unenrol-user-enrolment-body>
        </moodle:post-core-enrol-unenrol-user-enrolment>
    </flow>
    <flow name="post:\gradereport_overview_get_course_grades:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="1f5b5cad-96e7-401c-bb3b-3079d1946a08" config-ref="moodle-rest-api-httpListenerConfig" path="/gradereport_overview_get_course_grades">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="7efe1f42-f3e5-4666-8e88-2afc2dc1cbd1" name="accesstoken_Flow" />
        <moodle:post-gradereport-overview-get-course-grades doc:name="Grade Report - Get Course Grades" doc:id="a3028fde-2c7b-40e2-a564-d13a61024711" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-gradereport-overview-get-course-grades-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
 
    userid: payload.userid
}]]]></moodle:post-gradereport-overview-get-course-grades-body>
        </moodle:post-gradereport-overview-get-course-grades>
    </flow>
    <flow name="post:\mod_assign_get_assignments:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f4757c60-f491-4ac5-8ea6-2fd0df4f831e" config-ref="moodle-rest-api-httpListenerConfig" path="/mod_assign_get_assignments">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="01c86798-24f8-4861-8920-face0ded869b" name="accesstoken_Flow" />
        <moodle:post-mod-assign-get-assignments doc:name="Assignments - Get all the course assignments" doc:id="a00f97b1-c4e5-4b45-a537-96955f3c1078" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-mod-assign-get-assignments-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    'courseids[0]': payload.'courseids[0]'
    
}]]]></moodle:post-mod-assign-get-assignments-body>
        </moodle:post-mod-assign-get-assignments>
    </flow>
    <flow name="post:\mod_assign_get_grades:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="755c65e9-ea58-4ba2-9a3e-d73e98c327c4" config-ref="moodle-rest-api-httpListenerConfig" path="/mod_assign_get_grades">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="b31ca18a-fe29-42d5-8a45-a6f2d2fe6c20" name="accesstoken_Flow" />
        <moodle:post-mod-assign-get-grades doc:name="Assignments - Get assignment grades" doc:id="424b76d3-0d82-4b72-8faf-506e0ecc32a5" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-mod-assign-get-grades-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    'assignmentids[0]': payload.'assignmentids[0]'
}]]]></moodle:post-mod-assign-get-grades-body>
        </moodle:post-mod-assign-get-grades>
    </flow>
    <flow name="post:\mod_assign_get_submission_status:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ffc9dba7-bb8d-45c4-a0d2-17814a3bdad5" config-ref="moodle-rest-api-httpListenerConfig" path="/mod_assign_get_submission_status">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="48f37f34-2e59-4acc-806b-b6bb5d6834e0" name="accesstoken_Flow" />
        <moodle:post-mod-assign-get-submission-status doc:name="Assignments - Get assignment submissions" doc:id="dbfb5d8b-4c00-47a9-8a58-16cdf2c65cef" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
            <moodle:post-mod-assign-get-submission-status-body><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    assignid: payload.assignid,
    userid: payload.userid
}]]]></moodle:post-mod-assign-get-submission-status-body>
        </moodle:post-mod-assign-get-submission-status>
    </flow>
    <flow name="post:\core_calendar_create_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bfe852ad-ad84-435f-af44-6555f481dacc" config-ref="moodle-rest-api-httpListenerConfig" path="/core_calendar_create_calendar_events">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="e9df9228-6128-45a6-85d8-6f4cd6220107" name="accesstoken_Flow"/>
		<moodle:post-core-calendar-create-calendar-events doc:name="Calendar - Create Calendar Events" doc:id="3f64742f-6f94-4924-bf36-1db925cbce15" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-calendar-create-calendar-events-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "events[0][name]": payload."events[0][name]",
    "events[0][description]": payload."events[0][description]",
    "events[0][format]": payload."events[0][format]",
    "events[0][courseid]": payload."events[0][courseid]",
    "events[0][groupid]": payload."events[0][groupid]",
    "events[0][repeats]": payload."events[0][repeats]",
    "events[0][eventtype]": payload."events[0][eventtype]",
    "events[0][timestart]": payload."events[0][timestart]",
    "events[0][timeduration]": payload."events[0][timeduration]",
    "events[0][visible]": payload."events[0][visible]",
    "events[0][sequence]": payload."events[0][sequence]"
}]]]></moodle:post-core-calendar-create-calendar-events-body>
		</moodle:post-core-calendar-create-calendar-events>
    </flow>
    <flow name="post:\core_calendar_delete_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="417d2ad2-4fdc-492b-86e4-f2cb0e8347cd" config-ref="moodle-rest-api-httpListenerConfig" path="/core_calendar_delete_calendar_events">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f21e7333-7cbb-4bdc-9675-b8180d3408ce" name="accesstoken_Flow"/>
		<moodle:post-core-calendar-delete-calendar-events doc:name="Calendar - Delete Calendar Events" doc:id="29a98925-2e14-46f9-b858-02623e06562e" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-calendar-delete-calendar-events-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "events[0][eventid]": payload."events[0][eventid]",
    "events[0][repeat]": payload."events[0][repeat]"
}]]]></moodle:post-core-calendar-delete-calendar-events-body>
		</moodle:post-core-calendar-delete-calendar-events>
    </flow>
    <flow name="post:\core_calendar_get_action_events_by_timesort:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="78072c6d-32c2-4023-aaaf-f4ff723a6e53" config-ref="moodle-rest-api-httpListenerConfig" path="/core_calendar_get_action_events_by_timesort">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="4d8248e2-12c2-4f9f-8212-18bf8d7e3f6e" name="accesstoken_Flow"/>
		<moodle:post-core-calendar-get-action-events-by-timesort doc:name="Calendar - Get Calendar events for students" doc:id="c18eb6cf-14d2-4ecc-985f-e82f986ad9d7" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-calendar-get-action-events-by-timesort-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    timesortfrom: payload.timesortfrom
}]]]></moodle:post-core-calendar-get-action-events-by-timesort-body>
		</moodle:post-core-calendar-get-action-events-by-timesort>
    </flow>
    <flow name="post:\core_calendar_get_calendar_event_by_id:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="eddfb052-3a59-4742-918f-46f7cfa4750c" config-ref="moodle-rest-api-httpListenerConfig" path="/core_calendar_get_calendar_event_by_id">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="354a615c-06be-43a8-9e4c-5887197a6f30" name="accesstoken_Flow"/>
		<moodle:post-core-calendar-get-calendar-event-by-id doc:name="Calendar - Get Calendar Event by Id" doc:id="8981cd83-775f-4557-b305-15e6b2625a62" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-calendar-get-calendar-event-by-id-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    eventid: payload.eventid
}]]]></moodle:post-core-calendar-get-calendar-event-by-id-body>
		</moodle:post-core-calendar-get-calendar-event-by-id>
    </flow>
    <flow name="post:\core_calendar_get_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="63011671-bdb8-43a9-a517-c6c05944cd7e" config-ref="moodle-rest-api-httpListenerConfig" path="/core_calendar_get_calendar_events">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="a6e694c9-5bc7-4491-9170-7895a84004f3" name="accesstoken_Flow"/>
		<moodle:post-core-calendar-get-calendar-events doc:name="Calendar - Get Calendar Events" doc:id="45dc1221-5beb-421f-95ee-d9b23c19e7eb" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-calendar-get-calendar-events-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    ("events[eventids][0]": payload.'events[eventids][0]') if(!isEmpty(payload.'events[eventids][0]')),
    ("events[courseids][0]": payload.'events[courseids][0]')if(!isEmpty(payload.'events[courseids][0]')),
    ("events[groupids][0]": payload.'events[groupids][0]')if(!isEmpty(payload.'events[groupids][0]')),
    ("events[categoryids][0]": payload.'events[categoryids][0]')if(!isEmpty(payload.'events[categoryids][0]'))
}]]]></moodle:post-core-calendar-get-calendar-events-body>
		</moodle:post-core-calendar-get-calendar-events>
    </flow>
    <flow name="post:\core_cohort_add_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b58f351f-3d2c-4468-a7ce-9fb2db19ac84" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_add_cohort_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="4973ee72-8ab2-4fa3-adaf-4fadee3cceeb" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-add-cohort-members doc:name="Cohort - Add Cohort Members" doc:id="fbc55cae-cba1-4a08-8640-bf38f7a5a564" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-add-cohort-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "members[0][cohorttype][type]": payload.'members[0][cohorttype][type]',
    "members[0][cohorttype][value]": payload.'members[0][cohorttype][value]',
    "members[0][usertype][type]": payload.'members[0][usertype][type]',
    "members[0][usertype][value]": payload.'members[0][usertype][value]'
}]]]></moodle:post-core-cohort-add-cohort-members-body>
		</moodle:post-core-cohort-add-cohort-members>
    </flow>
    <flow name="post:\core_cohort_create_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f4f77a54-247d-48e6-89e0-e267442232fe" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_create_cohorts">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="6b0e0ced-8ac3-40be-92ff-d2f1fc88ffb4" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-create-cohorts doc:name="Cohort - Create Cohorts" doc:id="aff1dfb1-fbb5-4aea-9c22-e836336f6f93" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-create-cohorts-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "cohorts[0][categorytype][type]": payload.'cohorts[0][categorytype][type]',
    "cohorts[0][categorytype][value]": payload.'cohorts[0][categorytype][value]',
    "cohorts[0][name]": payload.'cohorts[0][name]',
    "cohorts[0][idnumber]": payload.'cohorts[0][idnumber]',
    "cohorts[0][description]": payload.'cohorts[0][description]',
    "cohorts[0][descriptionformat]": payload.'cohorts[0][descriptionformat]',
    "cohorts[0][visible]": payload.'cohorts[0][visible]',
    "cohorts[0][theme]": payload.'cohorts[0][theme]'
}]]]></moodle:post-core-cohort-create-cohorts-body>
		</moodle:post-core-cohort-create-cohorts>
    </flow>
    <flow name="post:\core_cohort_delete_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8d94e206-1bb4-45a8-8b5e-14b2fa6b46ac" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_delete_cohort_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="605e1d0c-6814-43cf-9a78-c9d4cd4cfdda" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-delete-cohort-members doc:name="Cohort - Delete Cohort Member" doc:id="ec903548-3964-451c-a5fd-18f5bc54cf37" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-delete-cohort-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "members[0][cohortid]": payload.'members[0][cohortid]',
    "members[0][userid]": payload.'members[0][userid]'
}]]]></moodle:post-core-cohort-delete-cohort-members-body>
		</moodle:post-core-cohort-delete-cohort-members>
    </flow>
    <flow name="post:\core_cohort_delete_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ece7fbe6-a9d4-4040-9221-d213c178a2b9" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_delete_cohorts">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="05b33c5b-c73c-4b74-8610-28d2fc3b7d92" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-delete-cohorts doc:name="Cohort - Delete Cohort" doc:id="10f5e14a-abcd-4a6e-b06f-ca3285c164ca" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-delete-cohorts-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "cohortids[0]": payload.'cohortids[0]'
}]]]></moodle:post-core-cohort-delete-cohorts-body>
		</moodle:post-core-cohort-delete-cohorts>
    </flow>
    <flow name="post:\core_cohort_get_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c9be5a27-019f-419d-87a5-7993160b8f24" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_get_cohort_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="a2456c4d-c956-406b-912d-141b5deefe49" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-get-cohort-members doc:name="Cohort - Get Cohort Members" doc:id="48db2151-c61d-41de-a11e-f971f5aebe24" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-get-cohort-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "cohortids[0]": payload.'cohortids[0]'                
}]]]></moodle:post-core-cohort-get-cohort-members-body>
		</moodle:post-core-cohort-get-cohort-members>
    </flow>
    <flow name="post:\core_cohort_get_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f00d7e08-2e75-4dd0-be58-db17efd2083f" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_get_cohorts">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="72863100-4613-4ca7-acf7-1d8dbb3724ae" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-get-cohorts doc:name="Cohort - Get Cohorts" doc:id="1dd296f2-18e9-4e70-b322-9e76e7542a06" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-get-cohorts-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
}]]]></moodle:post-core-cohort-get-cohorts-body>
		</moodle:post-core-cohort-get-cohorts>
    </flow>
    <flow name="post:\core_cohort_update_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="3fb3fc4b-c654-4cfd-96ea-71d25e5f7b71" config-ref="moodle-rest-api-httpListenerConfig" path="/core_cohort_update_cohorts">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="042ed64e-2ccb-4477-9f8a-a0f6d46c89e3" name="accesstoken_Flow"/>
		<moodle:post-core-cohort-update-cohorts doc:name="Cohort - Update Cohorts" doc:id="76119837-3ab6-4849-b8e6-fa1e3af59022" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-cohort-update-cohorts-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "cohorts[0][id]": payload.'cohorts[0][id]',
    "cohorts[0][categorytype][type]": payload.'cohorts[0][categorytype][type]',
    "cohorts[0][categorytype][value]": payload.'cohorts[0][categorytype][value]',
    "cohorts[0][name]": payload.'cohorts[0][name]',
    "cohorts[0][idnumber]": payload.'cohorts[0][idnumber]',
    "cohorts[0][description]": payload.'cohorts[0][description]',
    "cohorts[0][descriptionformat]": payload.'cohorts[0][descriptionformat]',
    "cohorts[0][visible]": payload.'cohorts[0][visible]',
    "cohorts[0][theme]": payload.'cohorts[0][theme]',
    "cohorts[0][customfields][0][shortname]": payload.'cohorts[0][customfields][0][shortname]',
    "cohorts[0][customfields][0][value]": payload.'cohorts[0][customfields][0][value]'
}]]]></moodle:post-core-cohort-update-cohorts-body>
		</moodle:post-core-cohort-update-cohorts>
    </flow>
    <flow name="post:\core_group_add_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="27341f3f-c484-4693-905a-f0997f1c85b8" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_add_group_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="2379943f-e97a-409f-8840-d1a896136999" name="accesstoken_Flow"/>
		<moodle:post-core-group-add-group-members doc:name="Groups - Add Group Members" doc:id="58a5ecd5-a2bc-45fc-8c84-87464c311b39" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-add-group-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),

    "members[0][groupid]": payload.'members[0][groupid]',
    "members[0][userid]": payload.'members[0][userid]'
}]]]></moodle:post-core-group-add-group-members-body>
		</moodle:post-core-group-add-group-members>
    </flow>
    <flow name="post:\core_group_assign_grouping:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="d866b467-9154-4027-b03a-d50b7ed6f5db" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_assign_grouping">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="50344d46-4123-4210-b9cd-2785be90e810" name="accesstoken_Flow"/>
		<moodle:post-core-group-assign-grouping doc:name="Groups - Assign Groupings" doc:id="6398d6c9-8180-49b9-bd68-67d7b51ab518" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-assign-grouping-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),

    "assignments[0][groupingid]": payload.'assignments[0][groupingid]',
    "assignments[0][groupid]": payload.'assignments[0][groupid]'
}]]]></moodle:post-core-group-assign-grouping-body>
		</moodle:post-core-group-assign-grouping>
    </flow>
    <flow name="post:\core_group_create_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2714c872-884b-4bbf-8d82-17b5b338ae9f" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_create_groupings">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="8ac84617-285f-472c-abbe-c533098099e4" name="accesstoken_Flow"/>
		<moodle:post-core-group-create-groupings doc:name="Groups - Create Groupings" doc:id="f693e0e2-2fef-4228-bf5f-72fc00995b7c" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-create-groupings-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),

    "groupings[0][courseid]": payload.'groupings[0][courseid]',
    "groupings[0][name]": payload.'groupings[0][name]',
    "groupings[0][description]": payload.'groupings[0][description]',
    "groupings[0][descriptionformat]": payload.'groupings[0][descriptionformat]',
    "groupings[0][idnumber]": payload.'groupings[0][idnumber]'
}]]]></moodle:post-core-group-create-groupings-body>
		</moodle:post-core-group-create-groupings>
    </flow>
    <flow name="post:\core_group_create_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="b97dd707-a625-42ff-b9d6-503afff44fce" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_create_groups">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="37d7535e-2f08-4fe6-ac8c-4b87e54df573" name="accesstoken_Flow"/>
		<moodle:post-core-group-create-groups doc:name="Groups - Create Group" doc:id="98a2797c-fc9a-4f95-9138-cce30094374f" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-create-groups-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    'groups[0][courseid]': payload.'groups[0][courseid]',
    'groups[0][name]': payload.'groups[0][name]',
    'groups[0][description]': payload.'groups[0][description]',
    'groups[0][descriptionformat]': payload.'groups[0][descriptionformat]',
    'groups[0][idnumber]': payload.'groups[0][idnumber]'
}]]]></moodle:post-core-group-create-groups-body>
		</moodle:post-core-group-create-groups>
    </flow>
    <flow name="post:\core_group_delete_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4ffeaa01-f8bb-4448-8bf4-2a3a301fe929" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_delete_group_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="7a58922a-b22a-40ba-b63a-21802a6b815e" name="accesstoken_Flow"/>
		<moodle:post-core-group-delete-group-members doc:name="Groups - Delete Group Members" doc:id="dc067e1b-04eb-43f1-a2d2-1278de4fdea6" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-delete-group-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,               
    wsfunction: "core_group_delete_group_members",
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(moodlewsrestformat)),

    "members[0][userid]": payload.'members[0][userid]',
    "members[0][groupid]": payload.'members[0][groupid]'
}]]]></moodle:post-core-group-delete-group-members-body>
		</moodle:post-core-group-delete-group-members>
    </flow>
    <flow name="post:\core_group_delete_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="36a05973-35ca-4a60-b907-c6b9048ace9f" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_delete_groupings">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f433bd49-e0f9-422f-a418-d54f1b65d184" name="accesstoken_Flow"/>
		<moodle:post-core-group-delete-groupings doc:name="Groups - Delete Groupings" doc:id="0486d31b-7986-4a00-bf54-44de23ba4bf0" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-delete-groupings-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,             
    wsfunction: "core_group_delete_groupings",
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(moodlewsrestformat)),
    "groupingids[0]": payload.'groupingids[0]'
}]]]></moodle:post-core-group-delete-groupings-body>
		</moodle:post-core-group-delete-groupings>
    </flow>
    <flow name="post:\core_group_delete_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="19c88b7f-59ef-4d32-af1f-3574555eb832" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_delete_groups">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="e4a5255a-f709-4431-8b20-f6325be4c17e" name="accesstoken_Flow"/>
		<moodle:post-core-group-delete-groups doc:name="Groups - Delete Group" doc:id="a64f8236-8e45-42b6-8f16-20c62109bf67" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-delete-groups-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,              
    wsfunction: "core_group_delete_groups",
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(moodlewsrestformat)),
    "groupids[0]": payload.'groupids[0]',      
    "groupids[1]": payload.'groupids[1]'       
}]]]></moodle:post-core-group-delete-groups-body>
		</moodle:post-core-group-delete-groups>
    </flow>
    <flow name="post:\core_group_get_course_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="32d39dd5-0493-4b26-b026-13b97f2bdde3" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_get_course_groupings">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="5a3b4020-c0a1-4669-89ce-c436799e84ac" name="accesstoken_Flow"/>
		<moodle:post-core-group-get-course-groupings doc:name="Groups - Get Groupings" doc:id="376045f0-fe7b-45d7-ad8d-17580b39b045" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-get-course-groupings-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,           
    wsfunction: "core_group_get_course_groupings",
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(moodlewsrestformat)),
    courseid: payload.courseid          
}]]]></moodle:post-core-group-get-course-groupings-body>
		</moodle:post-core-group-get-course-groupings>
    </flow>
    <flow name="post:\core_group_get_course_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="760c9ff6-7fd9-4cf6-a7d0-555c6bc2c9e2" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_get_course_groups">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="a8153af8-852d-48a1-9195-f63a6cb79edb" name="accesstoken_Flow"/>
		<moodle:post-core-group-get-course-groups doc:name="Groups - Get Course Groups" doc:id="70d774d0-22d6-4d13-a767-33fa8507014f" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-get-course-groups-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,           
    wsfunction: "core_group_get_course_groups",
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(moodlewsrestformat)),
    courseid: payload.courseid          
}]]]></moodle:post-core-group-get-course-groups-body>
		</moodle:post-core-group-get-course-groups>
    </flow>
    <flow name="post:\core_group_get_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ed7e8591-5688-4c6d-b3fe-be36042b127c" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_get_group_members">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="d5683a21-686d-450a-86da-f4794bd7af97" name="accesstoken_Flow"/>
		<moodle:post-core-group-get-group-members doc:name="Groups - Get Group Members" doc:id="56280a49-f17b-47a8-bfc3-c7037c8fb3d1" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-get-group-members-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),

    "groupids[0]": payload.'groupids[0]'
}]]]></moodle:post-core-group-get-group-members-body>
		</moodle:post-core-group-get-group-members>
    </flow>
    <flow name="post:\core_group_get_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9801a323-8a65-42c4-aa09-168881fb006d" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_get_groups">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="59523ce9-59be-4e84-9992-f4a0a0e8e7d8" name="accesstoken_Flow"/>
		<moodle:post-core-group-get-groups doc:name="Groups - Get Group" doc:id="14aae507-2ab3-45aa-9272-f468e50f7b32" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-get-groups-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    'groupids[0]': payload.'groupids[0]' 
}]]]></moodle:post-core-group-get-groups-body>
		</moodle:post-core-group-get-groups>
    </flow>
    <flow name="post:\core_group_unassign_grouping:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="f433ea0b-b226-4ae1-8272-083c6a561d80" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_unassign_grouping">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="e17fd7b1-8af7-4b9b-a7f2-72cb9c93d2f9" name="accesstoken_Flow"/>
		<moodle:post-core-group-unassign-grouping doc:name="Groups - Unassign Groupings" doc:id="ba9f2378-d89a-4034-9380-8c662cd6b40c" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-unassign-grouping-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
     wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    'unassignments[0][groupid]': payload.'unassignments[0][groupid]',     
    'unassignments[0][groupingid]': payload.'unassignments[0][groupingid]' 
}]]]></moodle:post-core-group-unassign-grouping-body>
		</moodle:post-core-group-unassign-grouping>
    </flow>
    <flow name="post:\core_group_update_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="55fcfcb8-996a-48ba-af90-febcb23cd325" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_update_groupings">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="9d65c9aa-3fb0-4346-bc0d-c8c8ef3b63dc" name="accesstoken_Flow"/>
		<moodle:post-core-group-update-groupings doc:name="Groups - Update Groupings" doc:id="88311065-fff5-4cf6-baf5-e8c8d0973df8" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-update-groupings-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "groupings[0][id]": payload.'groupings[0][id]',
    "groupings[0][name]": payload.'groupings[0][name]',
    "groupings[0][description]": payload.'groupings[0][description]',
    "groupings[0][descriptionformat]": payload.'groupings[0][descriptionformat]',
    "groupings[0][idnumber]": payload.'groupings[0][idnumber]',
    "groupings[0][customfields][0][shortname]": payload.'groupings[0][customfields][0][shortname]',
    "groupings[0][customfields][0][value]": payload.'groupings[0][customfields][0][value]'
}]]]></moodle:post-core-group-update-groupings-body>
		</moodle:post-core-group-update-groupings>
    </flow>
    <flow name="post:\core_group_update_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ce7649ba-b6c8-40f1-be0f-771f3c78c870" config-ref="moodle-rest-api-httpListenerConfig" path="/core_group_update_groups">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="e2d725a3-f449-41e0-8ab6-c678f6d1915f" name="accesstoken_Flow"/>
		<moodle:post-core-group-update-groups doc:name="Groups - Update Group" doc:id="e455a50b-1d10-4f6d-8aa9-b7598dfb260a" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-core-group-update-groups-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "groups[0][id]": payload.'groups[0][id]',
    "groups[0][name]": payload.'groups[0][name]',
    "groups[0][description]": payload.'groups[0][description]',
    "groups[0][descriptionformat]": payload.'groups[0][descriptionformat]',
    "groups[0][enrolmentkey]": payload.'groups[0][enrolmentkey]',
    "groups[0][idnumber]": payload.'groups[0][idnumber]',
    "groups[0][visibility]": payload.'groups[0][visibility]',
    "groups[0][participation]": payload.'groups[0][participation]',
    "groups[0][customfields][0][shortname]": payload.'groups[0][customfields][0][shortname]',
    "groups[0][customfields][0][value]": payload.'groups[0][customfields][0][value]'
}]]]></moodle:post-core-group-update-groups-body>
		</moodle:post-core-group-update-groups>
    </flow>
    <flow name="post:\gradereport_user_get_grade_items:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7fb30652-7788-4b55-bda6-51d50271e4fa" config-ref="moodle-rest-api-httpListenerConfig" path="/gradereport_user_get_grade_items">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="383f0afb-9acf-4888-92bf-420ab4d25703" name="accesstoken_Flow"/>
		<moodle:post-gradereport-user-get-grade-items doc:name="Grade Report - Get Grade Items" doc:id="189cf99f-5753-4454-b528-9338ef219344" config-ref="Moodle_Config" correlationIdHeader="#[correlationId]">
			<moodle:post-gradereport-user-get-grade-items-body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                            
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
	
 
    courseid: payload.courseid,
    userid: payload.userid
}]]]></moodle:post-gradereport-user-get-grade-items-body>
		</moodle:post-gradereport-user-get-grade-items>
    </flow>
</mule>
